$font-stack: Involve;


.footer_text {
    color: white;
    font: 100% $font-stack;
    display: flex;
    background: black;
    padding: 60px;
    margin-top: 131px;
    justify-content: space-between
  }

  @media only screen and (min-width: 600px) and (max-width: 1370px) {
    .footer_text {
      width: 107%;
    }
    
    }